<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header>
        <section class="logo-buscar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg"alt="logo" class="logo"></a>
                <form action="">
                    <input type="search" placeholder="Buscar producto, marca y algo mas" class="buscar"><button class="search"><i class="fas fa-search"></i></button>
                </form>
                <p class="build"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <section class="nav-bar">
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </section>
    </header>
    <img src="/images/img-home-banner.jpg" alt="Imagen del producto"  class="banner">
    <main>
        <h2>Basado en tu última visita</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen del producto" class="img">
                <section class="visitas"><i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h3 class="descripciones">Cafetería Moulinex</h3>
            </section>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen del producto" class="img">
                <section class="visitas"><i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h3 class="descripciones">MacBook Pro 2019</h3>
            </section>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del producto" class="img">
                <section class="visitas"><i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
            </section>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del producto" class="img">
                <section class="visitas"><i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <h3 class="descripciones">SmartTV Samsung 43"</h3>
            </section>
            </article>
        </section>
        <h2>Sección de Ofertas</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen del producto" class="img">
                <section class="ofertas"><i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h3 class="descripciones">Cafetería Moulinex</h3>
            </section>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen del producto" class="img">
                <section class="ofertas"><i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h3 class="descripciones">MacBook Pro 2019</h3>
            </section>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del producto" class="img">
                <section class="ofertas"><i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
            </section>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del producto" class="img">
                <section class="ofertas"><i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <h3 class="descripciones">SmartTV Samsung 43"</h3>
            </section>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago, ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@</p>
        </section>
        <section class="copyright">
            <p>Copyright 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>